.site39_html_col0_tuvandn {
    position: relative;
    margin-top: 179px;
    padding-bottom: 94px;

    .background_decor {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;

        .icon_decor {
            position: absolute;
            bottom: 0;
        }
    }

    .btn_regis_now {
        margin-right: auto;
        margin-left: auto;
        z-index: 1;
    }

    .service_top {
        position: relative;

        .icon_decor {
            position: absolute;
            width: 100%;
            height: 100%;

            .decor_left {
                position: absolute;
                top: -111px;
                left: -111px;
            }

            .decor_right {
                position: absolute;
                right: -98px;
                bottom: 0;
            }
        }

        .slide_arrow {
            position: absolute;
            width: 100%;
            top: 47%;
            left: 0;
            z-index: 1000;

            .slide_btn {
                position: absolute;
                width: 40px;
                height: 40px;
                background: #48D3D8;
                border: 1px solid transparent;
                transform: rotate(135deg);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .3s ease;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                cursor: pointer;

                img {
                    transform: rotate(-135deg);
                    filter: brightness(0) invert(1);
                }

                &.next_arrow {
                    right: -65px;
                }

                &.prev_arrow {
                    left: -65px;
                }

                &:hover {
                    background: transparent;
                    border-color: #48D3D8;

                    img {
                        filter: none;
                    }
                }
            }
        }

        .slide_service {
            position: relative;

            .slick-list {
                .slick-track {
                    .slide_item {
                        background-color: #fff;
                        max-width: 390px;

                        .service_item {
                            display: flex;
                            flex-flow: wrap;
                            padding: 30px 35px;
                            max-height: 390px;
                            overflow: hidden;

                            .service_title {
                                h2 {
                                    font-family: Montserrat;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 21px;
                                    line-height: 150.6%;
                                    text-align: center;
                                    text-transform: uppercase;
                                    flex: none;
                                    order: 0;
                                    flex-grow: 0;
                                }
                            }

                            .service_body {
                                margin-top: 26px;
                                max-height: 190px;
                                overflow-y: hidden;

                                &:hover {
                                    overflow-y: overlay;

                                }


                                p.text {
                                    height: 100%;
                                    font-family: Montserrat;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 16px;
                                    line-height: 150.5%;
                                    text-align: center;
                                    flex: none;
                                    order: 1;
                                    flex-grow: 0;
                                }
                            }

                            .btn_regis_now {
                                margin-top: 26px;
                            }
                        }

                        &:nth-child(odd) {
                            .service_item {
                                &:nth-child(1) {
                                    background-color: #000;

                                    .service_title,
                                    .service_body {
                                        color: #fff;
                                    }
                                }
                            }
                        }

                        &:nth-child(even) {
                            .service_item {
                                &:nth-child(2) {
                                    background-color: #000;

                                    .service_title,
                                    .service_body {
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .service_bot {
        margin-top: 115px;
        z-index: 1000;


        .header {
            h2 {
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 36px;
                line-height: 140.1%;
                text-align: center;
                text-transform: uppercase;
                color: #424242;
            }
        }

        .content {
            display: flex;
            width: 100%;
            margin-top: 104px;

            .content_item {
                width: calc(100% / 3);
                display: flex;
                flex-flow: wrap;
                justify-content: center;

                .icon_decor {
                    height: 100px;

                    img {
                        height: 100%;
                    }
                }

                .content_text {
                    width: 100%;
                    text-align: center;
                    margin-top: 29px;

                    p {
                        margin-right: auto;
                        margin-left: auto;
                        max-width: 180px;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 150.5%;
                        color: #5C5C5C;
                    }
                }
            }
        }
    }
}