.header {
    .nav_top {
        height: 45px;
        background: #F6F6F6;

        .nav_content {
            display: flex;
            height: 100%;
            justify-content: space-between;
            align-items: center;

            .nav_item {
                width: 50%;

                &:nth-child(1) {
                    ul {
                        display: inline-block;
                        width: 100%;

                        li {
                            display: block;
                            float: left;
                            margin-right: 36px;

                            a {
                                font-family: Roboto;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 16px;
                                line-height: 19px;
                                color: #828282;
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    display: flex;
                    justify-content: flex-end;

                    .item {
                        display: flex;
                        align-items: center;

                        &:nth-child(1) {
                            margin-right: 44px;

                            .content_box {
                                span {
                                    margin-left: 12px;
                                    font-family: Roboto;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 16px;
                                    line-height: 19px;
                                    color: #828282;

                                }

                                a {
                                    margin-left: 10px;
                                    max-height: 30px;
                                    overflow: hidden;

                                    img {
                                        height: 100%;
                                    }
                                }
                            }
                        }

                        &:nth-child(2) {
                            margin-right: 30px;

                            a {
                                span {
                                    font-family: Roboto;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 16px;
                                    line-height: 19px;
                                    color: #828282;
                                    margin-right: 10px;
                                }
                            }
                        }

                        &:nth-child(3) {
                            a {
                                &:nth-child(1) {
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .nav_main {
        height: 130px;

        .nav_main_1 {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .logo {
                max-height: 30px;
                overflow: hidden;

                img {
                    height: 100%;
                }
            }

            .search_bar {
                form {
                    display: flex;
                }
            }
        }
    }
}