.site39_html_col12_chitietdichvu {
    position: relative;
    padding-top: 123px;
    z-index: 1000;

    .icon_decor {
        position: absolute;
        bottom: 0;
        right: 0;
    }


    .container {
        position: relative;

        .decor {
            position: absolute;
            height: 100%;
            width: 100%;

            .decor_left {
                position: absolute;
                height: 100%;
                width: 100%;

                img {
                    position: absolute;

                    &.img_top {
                        top: -76px;
                        left: -212px;
                    }

                    &.img_mid {
                        top: 50%;
                        left: -373px;
                    }
                }
            }

            .decor_right {
                position: absolute;
                width: 100%;
                height: 100%;

                img {
                    position: absolute;
                    top: 106px;
                    right: -228px;
                }
            }
        }

        .content {
            position: relative;

            h3 {
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
                line-height: 140.1%;
                text-transform: uppercase;
                color: #333333;
            }

            p,
            ul,
            li {
                font-family: SVN-Gotham-light;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                color: #5C5C5C;
                padding-top: 10px;
            }

            ul {
                li {
                    padding-left: 35px;
                }
            }

            p {

                strong {
                    font-family: SVN-Gotham;
                    font-style: normal;
                    font-weight: 450;
                    font-size: 18px;
                    line-height: 160%;
                    color: #333333;
                }

                iframe {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 970px;
                    width: 100%;
                    height: 540px;
                }

                img {
                    display: block;
                    max-width: 970px;
                    width: 100%;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }
    }
}