$cl_primary: #48D3D8;
$cl_text_primary: #fff;

.btn_bci {
    max-width: 202px;
    max-height: 40px;
    height: 100%;
    width: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150.19%;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .25rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-transform: uppercase;
    cursor: pointer;

    &.btn_block {
        width: 100%;
        height: 100%;
    }

    &.btn {
        &_lg {
            max-width: 202px;
            max-height: 40px;
            font-size: 20px;
            font-weight: 600;
            line-height: 25px;
        }

        &_md {
            max-width: 167px;
            max-height: 33px;
            font-size: 20px;
            font-weight: 600;
            line-height: 25px;
        }

        &_sm {
            max-width: 132px;
            max-height: 26px;
            font-size: 20px;
            font-weight: 600;
            line-height: 25px;
        }
    }

    &.btn_primary {
        height: 100%;
        width: 100%;
        background: $cl_primary;
        color: $cl_text_primary;
    }

    &:hover {
        &.btn_primary {
            color: $cl_primary;
            background: $cl_text_primary;
            border: 1px solid $cl_primary;
        }
    }
}

@media (max-width:1400px) {
    .btn {
        font-size: 14px;
    }
}