.site39_foot_col0_bci {
    position: relative;
    background-color: $cl_light;
    height: 253px;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;

    .foot_content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .foot_item {
            &.item_left {
                max-width: 700px;

                &::before {
                    content: 'contact';
                    position: absolute;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 122px;
                    line-height: 171.5%;
                    letter-spacing: 0.035em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    top: 0;
                }

                p {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 26px;
                    line-height: 150.4%;
                    text-transform: uppercase;
                    color: $cl_text_gray_5a;
                    position: relative;
                    top: 34px;
                    z-index: 10;

                    .hightligh_text {
                        background-color: $cl_blue_primary;
                        padding: 2px 5px;
                        color: #fff;
                    }

                    .text_brand {
                        color: $cl_blue_primary;
                    }


                }

            }

            &.item_right {

                max-width: 330px;

                .foot_logo {
                    float: right;
                }

                .content {
                    margin-top: 21px;
                    float: right;
                    flex-flow: column;

                    p {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 22px;
                        text-align: right;
                        color: #333333;
                    }
                }
            }
        }
    }

    .social {
        position: absolute;
        right: 65px;

        .foot_icon {
            display: flex;
            flex-flow: column;

            a {
                position: relative;
                background-color: $cl_blue_primary;
                height: 37px;
                width: 37px;
                margin: 7px;

                img {
                    margin-right: auto;
                    margin-left: auto;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}