$cl_blue_primary : #48D3D8;
$cl_blue_secondary : rgba(72, 211, 216, 0.3);
$cl_gray :#424242;
$cl_light :#F6F7F9;
$cl_black :#1A1A1A;
$cl_black_secondary :#414141;
$cl_text_gray_5c: #5C5C5C;
$cl_text_gray_5a: #5a5a5a;
$cl_text_gray1: #333333;
$cl_dot:#0CB1B1;

.site39_header_col0 {
    width: 100vw;
    height: 100px;
    position: fixed;
    z-index: 10000;
    transition: all .8s ease;

    .head_bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transition: all .8s ease;
    }

    .btn_menu {
        display: block;
        position: absolute;
        right: 20px;
        top: 30px;
        padding: 5px;
        height: 28px;
        width: 30px;
        cursor: pointer;
        z-index: 1001;
        transition: all .5s ease;

        .line {
            background-color: $cl_black;
            position: relative;
            display: block;
            height: 3px;
            width: 18px;
            top: 7px;

            &::before {
                position: absolute;
                content: '';
                background-color: $cl_black;
                width: 18px;
                height: 3px;
                top: -6px;
                transition: all .3s;
            }

            &::after {
                position: absolute;
                content: '';
                background-color: $cl_black;
                width: 18px;
                height: 3px;
                top: 6px;
                transition: all .3s;
            }
        }

        &.active {
            top: 22px;

            .line {
                background-color: #000;
                height: 20px;
                width: 18px;

                &::before {
                    background-color: #fff;
                    -webkit-transform: translateY(14px) rotate(45deg);
                    -ms-transform: translateY(14px) rotate(45deg);
                    transform: translateY(14px) rotate(45deg);
                }

                &::after {
                    background-color: #fff;
                    top: -6px;
                    -webkit-transform: translateY(14px) rotate(-45deg);
                    -ms-transform: translateY(14px) rotate(-45deg);
                    transform: translateY(14px) rotate(-45deg);
                }
            }
        }
    }

    .nav_bci {
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;

        .header-logo {
            height: 71px;
            z-index: 10000;
            transition: all .5s ease;

            img {
                max-height: 100%;
            }
        }

        .menu {
            display: flex;
            align-items: center;

            .menu-top {
                display: flex;
                justify-content: space-between;
                align-items: center;

                li {
                    padding-left: 20px;
                    z-index: 10000;

                    &.menu-link {
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 24px;
                        position: relative;

                        a {
                            text-transform: uppercase;
                        }

                        ::after {
                            content: '';
                            position: absolute;
                            background-color: $cl_black_secondary;
                            top: 25px;
                            left: 20px;
                            width: 0px;
                            height: 1px;
                            opacity: .6;
                            transition: all .5s ease;
                        }

                        :hover {
                            text-decoration: none;
                            color: $cl_black;
                        }

                        :hover::after {
                            width: calc(100% - 20px);
                        }

                        &.active {
                            a {
                                &::after {
                                    width: calc(100% - 20px);
                                }
                            }
                        }
                    }

                    .btn-search {
                        border: none;
                        background-color: transparent;
                        z-index: 10000;
                    }
                }
            }
        }
    }

    &.is-menu {
        .head_bg {
            opacity: 1;
        }

        .nav_bci {
            .header-logo {
                margin-top: 0;
                opacity: 1;
            }

            .menu {
                .menu-top {
                    li {
                        &.menu-link {
                            top: 0;
                            opacity: 1;
                        }

                        .btn-search {
                            margin-top: 0;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    &.minimal {
        box-shadow: 0px 3px 10px #f1f1f180;
        height: 60px;

        .btn_menu {
            top: 16px;

            &.active {
                top: 9px;
            }
        }

        .nav_bci {
            .header-logo {
                height: 33px;
            }
        }
    }
}