.site39_header_col0 {
    max-width: 1472px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;

    .nav {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;

        .header-logo {
            height: 71px;

            img {
                max-height: 100%;
            }
        }

        .menu-top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                padding-left: 40px;

                &.menu-link {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    position: relative;

                    a {
                        text-transform: uppercase;
                    }

                    ::after {
                        content: '';
                        position: absolute;
                        background-color: $cl_black;
                        top: 25px;
                        left: 40px;
                        width: 0px;
                        height: 1px;
                        transition: .5s;
                    }

                    :hover {
                        text-decoration: none;
                        color: $cl_black;
                    }

                    :hover::after {
                        width: calc(100% - 40px);
                    }
                }

                .btn-search {
                    border: none;
                    background-color: transparent;
                }
            }


        }
    }
}