* {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

html {
    width: 100vw;
}

body {
    overflow: overlay;
    overflow-x: hidden;
    width: 100vw;
    position: relative;
}

ul {
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
        list-style-type: none;

        &:focus-visible {
            outline: none;
        }
    }
}

a {
    color: #000;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: #000;
    }

    &:focus-visible {
        outline: none;
        border: 1px solid #48D3D8;
    }

}

button {

    &:focus-visible,
    &:focus {
        outline: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li {
    padding: 0;
    margin: 0;
}

/* width */
::-webkit-scrollbar {
    position: absolute;
    width: 8px;
    background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #97979760;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(151, 151, 151, 0.905);
}

input {
    &:focus-visible {
        outline: none;
    }
}



.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}