@import 'mixin/fonts';

$cl_blue_primary : #48D3D8;
$cl_blue_secondary : rgba(72, 211, 216, 0.3);
$cl_gray :#424242;
$cl_light :#F6F7F9;
$cl_black :#1A1A1A;
$cl_text_gray_5c: #5C5C5C;
$cl_text_gray_5a: #5a5a5a;
$cl_text_gray1: #333333;
$cl_dot:#0CB1B1;

@import 'mixin/root';
/* header  site39_header_col0*/
@import 'mixin/header';
/* end header */

main {
    position: relative;
}

/* site39_new_col12_chitiettintuc */
@import 'chitiettin/content';

.content_post {
    padding-bottom: 40px;
    border-bottom: 1px solid #E0E0E0;

    .description {
        margin-bottom: 30px;

        p {
            margin-top: 25px;
            font-family: Montserrat;
            font-weight: normal;
            font-size: 18px;
            line-height: 160%;
            text-align: justify;
            color: #5C5C5C;
            text-transform: initial;
        }
    }

    p {
        margin-top: 10px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #5C5C5C;
        flex: none;
        order: 0;
        flex-grow: 0;

        strong {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 21px;
            line-height: 160%;
            color: #333333;
            flex: none;
            order: 0;
            flex-grow: 0;
            margin: 0px 0px;
        }
    }

    li {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #5C5C5C;
        flex: none;
        order: 1;
        flex-grow: 0;
        margin-top: 10px;
    }

    ul {
        margin-left: 30px;

        li {

            list-style-type: disc;

            &::marker {
                list-style-type: disc;
            }
        }
    }

    ol {

        li {

            list-style-type: decimal;

            &::marker {
                list-style-type: decimal;
            }
        }
    }

}

.relate {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    .relate_post {
        max-width: 803px;
        margin-top: 40px;

        .header {
            .title {
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 36px;
                line-height: 140.1%;
                text-transform: uppercase;
                color: #424242;
            }
        }

        .list_post {
            margin-top: 30px;
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            .post_item {
                width: calc(50% - 36px / 2);

                .post_thumb {
                    width: 100%;

                    a {
                        position: relative;
                        display: block;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;

                        img {
                            width: 100%;
                            transition: all .6s ease;
                        }

                        .text_thumb {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            padding: 3px 8px;
                            background: #414142;
                            opacity: 0.8;
                            font-family: Montserrat;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 12.8575px;
                            line-height: 150.36%;
                            text-transform: uppercase;
                            color: #FFFFFF;
                            transition: all .4s ease;
                        }
                    }
                }

                .post_content {
                    margin-top: 18px;

                    a {
                        display: block;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 19.2862px;
                        line-height: 150.5%;
                        color: #333333;
                        transition: all .3s ease;
                    }
                }

                &:nth-child(2) {
                    .post_thumb {
                        margin-top: 50px;
                    }
                }

                &:hover {
                    .post_thumb {
                        a {
                            img {
                                transform: scale(1.2);
                            }

                            .text_thumb {
                                background: #48D3D8;
                            }
                        }
                    }

                    .post_content {
                        a {
                            color: #48D3D8
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1000px) {
    .site39_new_col12_chitiettintuc {
        .cat_title {
            .icon_decor {
                left: 0;
                width: 100%;
                height: 100%;
                opacity: .6;
            }

            .title {
                margin: auto;
                padding: 20px 0;
            }
        }

        .cat_body {
            .left_post {
                top: auto;
                margin-top: 38px;

                .list_hot {
                    .hot_item {
                        .hot_thumb {
                            max-width: 60px;
                            width: 100%;
                        }
                    }
                }
            }
        }

        .relate {
            .relate_post {
                max-width: 100%;
            }
        }

    }

}

@media (max-width:768px) {
    .site39_new_col12_chitiettintuc {
        .cat_body {
            flex-flow: row wrap;

            .main_post {
                max-width: none;
                width: 100%;
                order: 1;
            }

            .left_post {
                top: auto;
                width: 100%;
                order: 2;

                .list_social {
                    margin-top: 20px;
                }

                .list_cat {
                    width: 100%;
                    margin-top: 20px;

                    ul {
                        max-width: none;
                        width: 100%;
                        left: 0;
                        display: flex;
                        overflow-y: hidden;
                        overflow-x: scroll;

                        li {
                            float: left;
                            margin-right: 20px;
                            margin-bottom: 0;
                            order: 2;

                            a {
                                font-size: 22px;
                                white-space: nowrap;
                            }

                            &.active {
                                order: 1;
                            }
                        }

                        &::-webkit-scrollbar {
                            position: absolute;
                            height: 4px;
                            background-color: transparent;
                        }
                    }
                }

                .list_hot {
                    max-width: none;
                    width: 100%;
                    margin-top: 30px;

                    .hot_item {
                        .hot_content {
                            max-width: none;
                            width: 90%;
                        }
                    }
                }
            }
        }

        .relate {
            .relate_post {
                max-width: 100%;

                .list_post {
                    .post_item {
                        width: 100%;
                    }
                }
            }
        }
    }
}


/* footer */
@import 'mixin/footer';
@import 'mixin/popup';

@import 'mixin/responsive';