@import 'mixin/fonts';

$cl_blue_primary : #48D3D8;
$cl_blue_secondary : rgba(72, 211, 216, 0.3);
$cl_gray :#424242;
$cl_light :#F6F7F9;
$cl_black :#1A1A1A;
$cl_text_gray_5c: #5C5C5C;
$cl_text_gray_5a: #5a5a5a;
$cl_text_gray1: #333333;
$cl_dot:#0CB1B1;

@import 'mixin/root';
/* header  site39_header_col0*/
@import 'mixin/header';
/* end header */



main {
    position: relative;
}

@import 'f&b/banner';

.site39_html_col0_fnb {
    position: relative;
    padding-top: 260px;
    padding-bottom: 106px;
    z-index: 1000;
    overflow: hidden;

    .decor {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1001;

        .decor_left {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    .content_fnb {
        position: relative;

        .decor1 {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1100;

            .circle {
                position: absolute;
                width: 668px;
                height: 668px;
                background: #48D3D8;
                border-radius: 50%;
                top: -133px;
                right: -234px;
                z-index: 1110;
            }
        }

        .arrow {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 0px;
            z-index: 1200;

            .btn_arrow {
                position: absolute;
                width: 40px;
                height: 40px;
                background: #ffffff;
                opacity: .7;
                transform: rotate(135deg);
                border: 1px solid transparent;
                transition: all .3s ease;
                cursor: pointer;

                &.hidden {
                    opacity: 0;
                    pointer-events: none;

                }

                &.btn_prev {
                    left: -84px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #48D3D8;

                    img {
                        filter: brightness(0) invert(1);
                        transform: rotate(-135deg);
                    }

                    &:hover {
                        background: transparent;
                        border-color: #48D3D8;

                        img {
                            filter: none;
                        }
                    }
                }

                &.btn_next {
                    right: -56px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        transform: rotate(-135deg);
                    }

                    &:hover {
                        background: transparent;
                        border-color: #fff;

                        img {
                            filter: brightness(0) invert(1);
                        }
                    }

                }


            }
        }

        .slide {
            z-index: 1210;

            .slick-list {
                .slide_item {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;

                    .content {

                        &_left,
                        &_right {
                            width: calc(50% - 25px);
                        }

                        &_left {
                            .title {
                                font-family: Montserrat;
                                font-style: normal;
                                font-weight: bold;
                                font-size: 72px;
                                line-height: 140.1%;
                                color: #48D3D8;
                            }

                            .description {
                                font-family: Montserrat;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 16px;
                                line-height: 150.5%;
                                text-align: justify;
                                color: #5C5C5C;
                            }

                            .content_box {
                                .box_item {
                                    margin-top: 10px;

                                    .box_header {
                                        .text {
                                            font-family: Montserrat;
                                            font-style: normal;
                                            font-weight: bold;
                                            font-size: 16px;
                                            line-height: 150.5%;
                                            color: #48D3D8;
                                        }
                                    }

                                    .box_body {
                                        margin-left: 30px;

                                        li {
                                            position: relative;
                                            margin-top: 10px;
                                            font-family: Montserrat;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 16px;
                                            line-height: 150.5%;
                                            color: #5C5C5C;

                                            &::before {
                                                position: absolute;
                                                content: '\2022';
                                                left: -16px;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &_right {
                            max-height: 750px;
                            overflow: hidden;

                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1400px) {
    .site39_html_col0_fnb {
        .content_fnb {
            .decor1 {
                .circle {
                    height: 568px;
                    width: 568px;
                    top: -83px;
                    right: -160px;
                }
            }
        }
    }
}

@media (max-width:1200px) {
    .site39_html_col0_fnb {
        padding-top: 90px;

        .content_fnb {
            .decor1 {
                .circle {
                    height: 400px;
                    width: 400px;
                    top: -90px;
                    right: -40px;
                }
            }

            .slide {
                .slick-list {
                    .slide_item {
                        .content_left {
                            .title {
                                font-size: 60px;
                            }

                            .description {
                                font-size: 15px
                            }

                            .content_box {
                                .box_item {
                                    .box_body {
                                        li {
                                            font-size: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1000px) {
    .site39_html_col0_fnb {
        padding-top: 80px;

        .content_fnb {
            .decor1 {
                .circle {
                    top: -70px;
                    right: -60px;
                }
            }

            .slide {
                .slick-list {
                    .slide_item {
                        .content_left {
                            .content_box {
                                .box_item {
                                    .box_header {
                                        .text {
                                            font-size: 14px;
                                        }
                                    }

                                    .box_body {
                                        li {
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:768px) {
    .site39_html_col0_fnb {
        .content_fnb {
            .arrow {
                bottom: -18px;
                top: auto;
                z-index: 1215;

                .btn_arrow {
                    width: 30px;
                    height: 30px;

                    &.btn_prev {
                        left: 15px;
                    }

                    &.btn_next {
                        right: 15px;
                        background: #48D3D8;

                        img {
                            filter: brightness(0) invert(1);
                        }

                        &:hover {
                            background: transparent;
                            border-color: #48D3D8;

                            img {
                                filter: none;
                            }
                        }
                    }
                }
            }

            .slide {
                .slick-list {
                    .slide_item {
                        display: flex;

                        .content_left,
                        .content_right {
                            width: 100%;
                        }

                        .content_left {
                            position: relative;
                            top: 0;
                            order: 2;
                            z-index: 10001;

                            .content_box {
                                display: flex;
                                flex-flow: row wrap;
                                justify-content: space-around;

                                .box_item {
                                    width: calc(50% - 10px);
                                    margin-top: 20px;

                                    .box_header {
                                        .text {
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                        }

                        .content_right {
                            position: relative;
                            z-index: 10000;
                        }
                    }
                }

                .slick-dots {
                    bottom: -50px;
                }
            }
        }
    }
}

@media (max-width:425px) {
    .site39_html_col0_fnb {
        .content_fnb {
            .slide {
                .slick-list {
                    .slide_item {
                        .content_left {
                            margin: 10px 0 0 0;
                            padding: 0;

                            .title {
                                font-size: 36px;
                                text-align: center;
                            }

                            .description {
                                font-size: 14px;
                            }

                            .content_box {
                                max-height: 460px;
                                overflow-y: hidden;

                                &:hover {
                                    overflow-y: overlay;
                                }

                                .box_item {
                                    width: 100%;
                                    margin-top: 10px;

                                    .box_body {
                                        margin-left: 0;

                                        li {
                                            text-align: center;

                                            &::before {
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:320px) {
    .site39_html_col0_fnb {
        .content_fnb {
            .slide {
                .slick-list {
                    .slide_item {
                        display: flex;

                        .content_left {
                            top: 0;
                            margin: 0;
                            padding: 0;
                            background: transparent;
                        }
                    }
                }
            }
        }
    }
}

/* footer */
@import 'mixin/footer';
@import 'mixin/popup';

@import 'mixin/responsive';