@import 'mixin/fonts';

$cl_blue_primary : #48D3D8;
$cl_blue_secondary : rgba(72, 211, 216, 0.3);
$cl_gray :#424242;
$cl_light :#F6F7F9;
$cl_black :#1A1A1A;
$cl_text_gray_5c: #5C5C5C;
$cl_text_gray_5a: #5a5a5a;
$cl_text_gray1: #333333;
$cl_dot:#0CB1B1;

@import 'mixin/root';
@import 'mixin/button';
/* header  site39_header_col0*/
@import 'mixin/header';
/* end header */


main {
    position: relative;
}

/* banner site39_bann_col0_slide*/
@import 'huanluyen/banner';
/* end banner */

/* site39_html_col0_huanluyendn */
@import 'huanluyen/content1';
/* site39_bann_col0_slide2 */
@import 'mixin/staff';
/* site39_bann_col0_slide3 */
@import 'mixin/customer';
/* site39_html_col0_hinhanhkhoahoc */
@import 'huanluyen/content4';
/* site39_form_col12_dkytuvan */
@import 'mixin/form';


/* footer */
@import 'mixin/footer';
@import 'mixin/popup';

@import 'mixin/responsive';

@media (max-width:1024px) {
    .site39_html_col0_tuvandn {
        margin-top: 40px;

    }
}

@media (max-width:680px) {

    .site39_bann_col0_slide {
        .box_banner {
            .box {
                .box_content {
                    h3 {
                        &.title {
                            font-size: 28px;
                        }
                    }
                }
            }
        }
    }


    .site39_html_col0_tuvandn {
        .service_bot {
            .header {
                h2 {
                    font-size: 28px;
                }
            }

            .content {
                flex-flow: wrap;
                margin-top: 40px;

                .content_item {
                    width: 100%;
                    margin-bottom: 30px;

                    .content_text {
                        p {
                            max-width: 320px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:425px) {
    .site39_html_col0_tuvandn {
        .service_bot {
            .header {
                h2 {
                    font-size: 22px;
                }
            }
        }
    }
}


@media (max-width: 1366px) {
    .site39_bann_col0_slide2 {

        .slider_staff {

            .slide_arrow {

                .next_arrow {
                    right: 20px;
                    z-index: 1;
                }
            }
        }
    }
}