@import 'mixin/fonts';

$cl_blue_primary : #48D3D8;
$cl_blue_secondary : rgba(72, 211, 216, 0.3);
$cl_gray :#424242;
$cl_light :#F6F7F9;
$cl_black :#1A1A1A;
$cl_text_gray_5c: #5C5C5C;
$cl_text_gray_5a: #5a5a5a;
$cl_text_gray1: #333333;
$cl_dot:#0CB1B1;

* {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

@import 'mixin/root';
/* header */
@import 'mixin/header';
/* end header */
/* banner */
@import 'mixin/banner';
/* end banner */
/* content */
@import 'mixin/content1';
@import 'mixin/content2';
/* end content */
/* footer */
@import 'mixin/footer';

/* end footer */
.btn_menu {
    display: block;
    position: absolute;
    right: 0;
    top: 30px;
    cursor: pointer;
    padding: 5px;
    z-index: 1001;

    .line {
        background-color: $cl_black;
        position: relative;
        display: block;
        height: 3px;
        width: 18px;
        right: 20px;

        &::before {
            position: absolute;
            content: '';
            background-color: $cl_black;
            width: 18px;
            height: 3px;
            top: -6px;
            transition: all .3s;
        }

        &::after {
            position: absolute;
            content: '';
            background-color: $cl_black;
            width: 18px;
            height: 3px;
            top: 6px;
            transition: all .3s;
        }
    }

    &.active {
        .line {
            background-color: #000;
            height: 20px;
            width: 20px;

            &::before {
                background-color: #fff;
                -webkit-transform: translateY(6px) rotate(45deg);
                -ms-transform: translateY(6px) rotate(45deg);
                transform: translateY(6px) rotate(45deg);
            }

            &::after {
                background-color: #fff;
                top: -6px;
                -webkit-transform: translateY(6px) rotate(-45deg);
                -ms-transform: translateY(6px) rotate(-45deg);
                transform: translateY(6px) rotate(-45deg);
            }
        }
    }
}

@media (max-width:1366px) {
    .site39_header_col0 {
        .nav {
            .header-logo {
                height: 60px;
            }

            .menu-top {
                li {
                    &.menu-link {
                        font-size: 14px;

                    }
                }
            }
        }
    }
}

@media (max-width:1200px) {
    .site39_header_col0 {
        .nav {
            .header-logo {
                height: 40px;
            }

            .menu-top {
                li {
                    &.menu-link {
                        font-size: 12px;

                    }
                }
            }
        }
    }
}

@media (min-width:1101px) {
    .site39_header_col0 {
        .nav {
            .btn_menu {
                display: none;
            }
        }
    }
}

@media (max-width:1100px) {

    .site39_header_col0 {
        .nav {
            .menu {
                display: none;
                position: fixed;
                right: -440px;
                height: 100vh;
                background-color: #fff;
                top: 0;
                z-index: 1000;
                transition: all 2.5s;

                &.active {
                    display: block;
                    right: 0;
                    animation: menuMove .8s;

                    .menu-top {
                        margin-top: 100px;
                        flex-flow: column;
                        align-items: flex-end;
                        margin-right: 20px;

                        .menu-link {
                            float: right;
                            margin-top: 30px;
                            font-size: 20px;
                            text-align: right;
                            margin: 15px 0;
                            clear: both;
                        }
                    }
                }
            }

            .btn_menu {
                display: block;
            }
        }
    }
}

@keyframes menuMove {
    0% {
        right: -440px;
    }

    30% {
        right: -260px;
    }

    50% {
        right: -260px;
    }

    100% {
        right: 0;
    }

}