.site39_html_col0_hinhanhkhoahoc {
    background-color: #000;
    margin-bottom: 100px;
    z-index: 1000;

    .slider_staff {
        position: relative;
        padding-top: 80px;
        padding-bottom: 22px;

        .slide_title {
            h2 {
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 36px;
                line-height: 140.1%;
                text-transform: uppercase;
                color: #FFFFFF;
                text-align: center;
            }
        }

        .slide_arrow {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 0;

            .btn_arrow {
                position: absolute;
                cursor: pointer;
                z-index: 1240;

                &.prev_arrow {
                    left: -50px;
                }

                &.next_arrow {
                    right: -50px;
                }

                &.hidden {
                    opacity: 0;
                    pointer-events: none;
    
                }
            }
        }


        .slide_course_2 {
            margin-top: 95px;

            .slick-list {
                .slick-track {
                    height: 500px;

                    .slick-slide {
                        position: relative;
                        display: flex;
                        flex-flow: wrap;
                        padding: 16px;

                        .sub_img {
                            width: 100%;

                            img {
                                width: 100%;
                            }
                        }



                        &:nth-child(even) {
                            top: 50px;
                        }
                    }
                }
            }
        }
    }
}